div .container {
	border: 1px;
	margin: 0;
	padding: 5px;
}

div .row {
	display: block;
	border: 1px;
	border-color: black;
}

div .cell {
	display: inline;
	border: 5px;
	border-color: black;
	margin: 5px;
}